---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog";
---

<body>
<BaseLayout pageTitle={pageTitle}>
    <p>Future collection of blog posts.</p>
    <script>
        import "../scripts/menu.js";
    </script>
</BaseLayout>